.validation-error{
  width: 100%;
  margin-top: -10px;
  margin-bottom: 10px;
  font-size: 80%;
  color: #ef6767;
}

.paginate{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.paginate .totals{
  /* padding-top:10px; */
}


.selected-filters {
   padding: 15px 10px 15px 10px;
   border-radius: 5px;
   /* border: 1px solid #E3E3E3; */
   height: 250px;
}

.selected-filter-container {
  /* display: flex; */
  /* justify-content: space-between;
  align-items: center; */
}

.selected-filter {
  padding: 10px;
  border-radius: 30px;
  background: #E3E3E3;
}

.selected-filter-container .remove-filter {
  position: relative;
  left: -12px;
  top: -15px;
  text-align: center;
  padding: 2px 4px 2px 4px;
  font-size: 10px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  color: #FFF;
  background: rgb(248, 42, 42);
}